@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 244, 244);
    background-image: linear-gradient(370deg, rgb(255, 24, 76), #003062);
}

header {
    background-color: rgb(244, 244, 244, .2);
    padding: 2% 3% 1%;
}

h1 {
    text-align: center;
    color: rgb(244, 244, 244);
}

.controls-container {
    margin: 4% 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.main-controls, .configurations {
    width: 50%;
    display: flex;
    justify-content: center;
}

.control-btn, .control {
    border-radius: 4px;
    width: 30%;
    padding: 1% 0;
    margin: 2%;
    font-size: 1rem;
    font-weight: bold;
}

.control-btn {
    background-color: rgb(255, 24, 76);
    border: 2px solid rgb(232, 20, 69);
    box-shadow: 0 -1px 0 #003062, 0 0 1px rgba(216, 216, 216, 0.12),
    1px 2px 4px #003062;
    color: rgb(244, 244, 244);
}

.control-btn:hover {
    background-color: rgb(255, 24, 76, .7);
}

.grid-container {
    padding-bottom: 10%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(25, 25px);
    border: .5px solid rgb(244, 244, 244, .7);
}

.grid-size {
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 1024px) {
    .main-controls, .configurations {
        width: 70%;
    }
    .grid {
        grid-template-columns: repeat(25, 20px);
    }
    .grid-size {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 560px) {
    h1 {
        font-size: 1.8rem;
    }
    .main-controls, .configurations {
        flex-direction: column;
        align-items: center;
    }
    .control {
        order: -1;
        font-size: 1.4rem;
    }
    .control-btn, .control {
        border-radius: 4px;
        height: auto;
        width: 80%;
        padding: 2% 0;
        margin: 3% 0;
    }
    .grid-container {
        width: 100%;
        margin-top: 8%;
    }
    .grid {
        grid-template-columns: repeat(25, 12px);
    }
    .grid-size {
        width: 12px;
        height: 12px;
    }
    .rules {
        font-size: .95rem;
        font-weight: bold;
    }
}
