@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 1% 3%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 244, 244);

}

h1 {
    text-align: center;
}

button {
    background-color: #ff184c;
    border-radius: px;
    margin: 5% 0;
    padding: 2% 0;
    font-weight: bold;

}

button:hover {
    background-color: #0a9cf5;
}


