@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 2%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 244, 244);

}

h1 {
    text-align: center;
}

button {
    background-color: #ff184c;
    padding: .5% 3%;
    font-weight: bold;
    text-align: center;
}

